header {
  position: fixed;
  color: white;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  font-size: 1.2rem;
  z-index: 1;
}

header.scrolled {
  background-color: #3f3f3f;
  width: 100%;
  top: 0;
}

header .code {
  text-decoration: none;
  color: white;
  cursor: pointer;
  position: relative;
  left: 10%;
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
}

.menu {
  flex-grow: 1;
}

.menubtn {
  color: #3f3f3f !important;
}

.menu ul {
  position: relative;
  left: 37rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.menu ul li {
  cursor: pointer;
  margin-right: 4rem;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: #ea4343;
}

@media screen and (max-width: 769px) {
  header {
    top: 0;
    justify-content: space-between;
    background-color: white;
    color: #3f3f3f;
    width: 100%;
    padding: 10px 0;
  }

  header.scrolled {
    background-color: white;
  }

  header .code {
    left: 1rem;
    font-size: 1.5rem;
  }

  .link {
    color: #3f3f3f;
  }

  .menu ul {
    left: 0;
  }

  .menu ul li {
    margin-right: 0;
  }

  .bar_btn {
    color: black !important;
    font-family: "Josefin Sans", sans-serif !important;
    padding-left: 20px !important;
  }
}

@media only screen and (min-width:1023px) and (max-width: 1100px ) {
  .menu ul{
    left: 12rem;
  }
}