.about {
  float: left;
  padding: 350px 0 120px;
  display: flex;
}

.pic {
  position: relative;
  left: 3%;
  width: 18%;
  height: 10%;
}

.center {
  width: 100%;
  padding: 0 100px 0 140px;
}

.center .title {
  float: left;
  margin-bottom: 10px;
}

.center .title .small {
  font-size: 24px;
  font-weight: 700;
  color: #ea4343;
  letter-spacing: -0.2px;
  display: inline-block;
  margin-bottom: 6px;
}
.center .title h3 {
  color: #ffffff;
  margin: 15px 0;
  font-size: 72px;
  letter-spacing: -0.2px;
}

.center .title h3 span {
  color: #ea4343;
}

.text {
  float: left;
}

.text p {
  margin-bottom: 31px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(193, 191, 191);
  font-size: 20px;
}

@media only screen and (max-width: 766px) {
  .about {
    display: inherit;
    margin-left: 1rem;
  }

  .center {
    padding: 0;
  }

  .center .title .small {
    margin: 0 0 60% 32%;
  }

  .pic {
    width: 40%;
    left: 27%;
    top: 12rem;
  }

  .text {
    width: 18rem;
  }
}
