hr {
  position: relative;
  top: 43rem;
  width: 60%;
}
.content {
  position: absolute;
  top: 12%;
  left: 7%;
}

.content .hello {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.2px;
}

.content .name {
  font-size: 150px;
  margin: 25px 0;
  color: #ea4343;
  letter-spacing: -0.2px;
}

.content .job {
  overflow: hidden;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.2px;
}

.content .job span {
  font-size: 70px;
}

.btnnav {
  margin-top: 50px;
  width: 100%;
  height: auto;
  clear: both;
}

.btnnav .hellobtn {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  background-color: #ea4343;
  font-weight: 700;
  position: relative;
  padding: 20px 70px 20px 45px;
  border-radius: 6px;
  border: 2px solid #ea4343;
}

.btnnav .hellobtn:hover {
  background-color: #3c3c3c;
}

.btnnav .hellobtn .mailicon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  color: #fff;
  margin-left: 9px;
  margin-top: -2px;
}

.btnnav .abtmebtn {
  cursor: pointer;
  margin-left: 36px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  white-space: nowrap;
  display: inline-block;
  position: relative;
}

.btnnav .abtmebtn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
}

.btnnav .abtmebtn:hover:before {
  width: 100%;
}

.avatar {
  position: absolute;
  backface-visibility: hidden;
  pointer-events: none;
  top: 0;
  right: 80px;
  bottom: 0;
  width: 30%;
  z-index: -1;
}

.avatar .main .mypic {
  width: 25rem;
}

.avatar .one {
  position: absolute;
  top: 150px;
  bottom: 150px;
  right: -55px;
  width: 380px;
  z-index: -4;
}

.avatar .two {
  position: absolute;
  bottom: 80px;
  left: -70px;
  width: 180px;
  height: 180px;
  z-index: 2;
}

.avatar .three {
  position: absolute;
  top: 235px;
  left: -110px;
  width: 80px;
  height: 110px;
  z-index: 2;
}

.avatar .four {
  position: absolute;
  width: 440px;
  height: 470px;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: -1;
}

.avatar .four .in {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid #fff;
}

.avatar .five {
  position: absolute;
  width: 50px;
  height: 70px;
  bottom: 32%;
}

.inlayer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ea4343;
}

.avatar .stroketxt {
  position: absolute;
  top: 35%;
  right: -140px;
  z-index: -2;
  margin-top: -70px;
}

.avatar .stroketxt span {
  font-size: 260px;
  color: transparent;
  -webkit-text-stroke: 3px rgba(255, 255, 255, 0.3);
  font-family: Montserrat;
}

.social {
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translateY(-50%);
  ul {
    list-style: none;
    li {
      margin-bottom: 25px;
    }
  }
}

.mail {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 40px;
  left: 50px;
}

.mail .mouseicon {
  left: 35%;
  margin-bottom: 10%;
  position: relative;
}

.mail .link {
  text-decoration: none;
  color: #fff;
  font-size: 21px;
}

@media only screen and (max-width: 768px) {
  .content {
    position: static;
    margin-left: 20px;
    margin-top: 35%;
  }

  .name {
    font-size: 80px !important;
    margin: 25px 0 !important;
  }

  .content .hello {
    font-size: 20px;
  }

  .job {
    font-size: 20px !important;
    span {
      font-size: 40px !important;
    }
  }

  .btnnav {
    font-size: 15px;
    margin-top: 35px;
  }

  .btnnav .hellobtn {
    padding: 15px 62px 15px 40px;
  }

  .avatar {
    display: none;
  }

  .social {
    display: none;
  }

  .mail {
    position: static;
    margin: 60px 20px;
  }

  .mail .mouseicon {
    left: 0;
  }

  hr {
    top: 2rem;
    width: 80%;
  }
}

@media only screen and (min-width: 767px) and (max-width: 800px) {
  .content {
    margin-top: 20%;
  }

  hr {
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 1200px) {
  .content {
    font-size: 80%;
  }
}
